<div class="container">
        <div class="login">
            <header class="login__header login-header">
                <div class="login-header__logo">
                    <img class="login-header__logo-img" src="static/img/monkey-code.png" alt="monkey logo">
                </div>
                <div class="login-header__title">{{phone_number}}</div>
                <div class="login-header__description">We have seny you an SMS with the code.</div>
            </header>

            <div class="login__content">
                <div class="login-form">
                    <ul class="login-form__list">
                        <li class="login-form__item">
                            <input placeholder="Code" autocomplete="off" type="number" name="code" class="login-form__input">
                            <label class="login-form__input-label" for="code">Code</label>
                        </li>

                        <li class="login-form__item submit-form-item">
                            <a href="/code" class="login-form__submit">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>