<div class="container container_feed">
    <div class="feed">
        <aside class="sidebar">

            <div class="contacts">
                <ul class="contacts-list"></ul>
            </div>
            
        </aside>
    </div>
</div>