<div class="container container_feed">
    <div class="feed">
        <aside class="sidebar">
            <header class="sidebar__header">
                <div class="sidebar__header-controls">
                    <div class="sidebar__header-back"></div>
                </div>
                <div class="sidebar__header-search">
                    <input type="text" class="sidebar__header-search-input" placeholder="Search">
                </div>
            </header>

            <div class="sidebar__content">
                <div class="contacts">
                    <ul class="contacts-list"></ul>
                </div>  
            </div>
            
        </aside>
    </div>
</div>