<div class="container">
    <div class="login">
        <header class="login__header login-header">
            <div class="login-header__logo">
                <img class="login-header__logo-img" src="static/img/telegram-logo.png" alt="telegramm logo">
            </div>
            <div class="login-header__title">Sign in&nbsp;to&nbsp;Telegram</div>
            <div class="login-header__description">Please confirm your country and enter your phone number.</div>
        </header>

        <div class="login__spiner">Spiner</div>

        <div class="login__content">
            <div class="login-form">
                <ul class="login-form__list">
                    <li class="login-form__item country-form-item">
                        <input placeholder="Country" readonly type="text" name="country" class="login-form__input country-input">
                        <label class="login-form__input-label" for="country">Country</label>
                    </li>

                    <li class="login-form__item phone-form-item">
                        <input placeholder="Phone number" type="tel" name="phone" class="login-form__input phone-input">
                        <label class="login-form__input-label" for="phone">Phone number</label>
                    </li>

                    <li class="login-form__item login-form__label_keep-me">
                        <label for="keep-me" class="login-form__label"><input type="checkbox" class="login-form__checkbox">&nbsp;Keep me signed in</label>
                    </li>

                    <li class="login-form__item submit-form-item">
                        <div class="login-form__submit">Next</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    