$color-red: #f33;

body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 0 20px;
    margin-bottom: 200px;
}

.hidden {
    display: none;
}

.progress {
    animation: blink  1s infinite ease-in-out;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}